@model StockHistoryViewModel

@{
    ViewBag.Title = "History";
    Layout = "_Layout";
}

<form asp-controller="StockTransaction" asp-action="AddStockTransaction" method="post">
    <div class="form-group">
        <label for="Date">Date</label>
        <input class="form-control form-control-sm" type="date" id="Date" name="Date" value="" required="" />
    </div>
    <div class="row">
        <div class="col">
            <label for="Ticker">Ticker</label>
            <input class="form-control form-control-sm" type="text" id="Ticker" name="Ticker" value="" required="" placeholder="TSLA"/>
        </div>
        <div class="col">
            <label for="Action">Action</label>
            <select class="form-control form-control-sm" id="Action" name="Action">
                <option selected="" value="@Model.StockActionDropDownList[0]">@Model.StockActionDropDownList[0]</option>
                @for (var i = 1; i < Model.StockActionDropDownList.Count(); i++)
                {
                    <option value="@Model.StockActionDropDownList[i]">@Model.StockActionDropDownList[i]</option>
                }
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="Quantity">Quantity</label>
            <input class="form-control form-control-sm" type="number" step="0.01" id="Quantity" name="Quantity" value="" required="" />
        </div>
        <div class="col">
            <label for="Price">Price</label>
            <input class="form-control form-control-sm" type="number" step="0.01" id="Price" name="Price" value="" required="" />
        </div>
    </div>

    <br />

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<br />

<div class="table-responsive">
    <table class="table table-hover table-sm">
        <thead class="thead-light">
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Ticker</th>
                <th scope="col">Action</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Total</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dto in Model.TransactionDtos)
            {
                <tr>
                    <td>@dto.Date</td>
                    <td>@dto.Ticker</td>
                    <td>@dto.Action</td>
                    <td>@dto.Quantity.ToString("F2")</td>
                    <td>$@dto.Price.ToString("F2")</td>
                    <td>$@dto.Total.ToString("F2")</td>
                    <td>
                        <a type="button" class="btn btn-danger" asp-controller="StockTransaction" asp-action="DeleteStockTransaction" asp-route-transactionId="@dto.Id">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                            </svg>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    document.getElementById("Ticker").focus();
    document.getElementById("Date").valueAsDate = new Date();
</script>
